h1{color: limegreen;
  line-height: 100px; 
  font-size: 80px;
  margin-top:100;

  text-transform: uppercase; 
    font-family: sans-serif;
    text-align: center;}

h2{color: deepskyblue;
  line-height: 50px; 
  font-size: 30px;

    font-family: sans-serif;
    text-align: left
        ;}

h3{color: blueviolet;
  line-height: 50px; 
  font-size: 20px;

    font-family: sans-serif;
    text-align: left
        ;}